<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Erased all Stores</title>
    </head>
    <body>
        <center>


            <h3><a href="/"><button type="button" class="btn btn-danger">Back to the Homepage</button>
                </a>
            </h3>
    </body>
</html>
