<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Shoes Plus</title>
    </head>
    <body>
        <center>
          <div class='page-header'>
               <h1>Stores<small>Brands</small></h1>
           </div>

        <h5>Add a Store</h5>
        {% if stores is not empty %}
                {% for store in stores %}
                    <p><a href="/stores/{{ store.getId }}">{{ store.getName }}</a></p>
                {% endfor %}
            {% else %}
        {% endif %}


        <a href='/stores'><button type='submit' class='btn btn-danger'>Stores</button></a>

        <h5> Add a Brand </h5>
        {% if brands is not empty %}
                {% for brand in brands %}
                    <p><a href="/brands/{{ brand.getId }}">{{ brand.getBrandName }}</a></p>
                {% endfor %}
            {% else %}
        {% endif %}
            <a href='/brands'><button type='submit' class='btn btn-warning'>Brands</button></a>

        </center>
    </body>
</html>
